################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IniciandoEntityFramework/.vs/IniciandoEntityFramework/v16/Server/sqlite3
/AlunosDoEntity/.vs/AlunosDoEntity/v16/Server/sqlite3
/EntityRevision/.vs/EntityRevision/v16/Server/sqlite3
/PudimSolution/.vs/PudimSolution/v16/Server/sqlite3
