.time-now {
    font-family: Britannic;
    background-image: url('https://img.freepik.com/vetores-gratis/luzes-de-bokeh-e-fundo-de-brilho_1048-8548.jpg?size=626&ext=jpg');
    background-size:cover;
    font-size: 50px;
    text-align: center;
    margin-top:10%;
}
